@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Poppins:wght@200&family=Roboto&display=swap");

.contact-cover {
  position: fixed;
  inset: 0;
  background-color: rgb(31, 30, 30);
  z-index: -1;
}
.laptop {
  width: 600px;
  filter: invert(1);
}
.Contact-main {
  position: relative;
  left: 16%;
  width: 84%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .content-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    // width: 800px;
    height: 550px;
    // top: -50px;
    flex-wrap: wrap;
    .content-head {
      p {
        font-size: 2.5rem;
        color: rgb(165, 165, 165);
        font-family: "Poppins";
        text-shadow: 1px 1px black;
        // font-family: 'Noto Sans SC', sans-serif;
        font-family: "Baloo Da 2", cursive;
        text-transform: uppercase;
        transform: translate(-4px, 30px);
      }
    }
    .pin {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      // transform: translate(-20px, -60px);
      img {
        width: 40px;
        filter: invert(1);
        // margin-right: 10px;
        transform: translateY(0px);
        margin-right: 10px;
      }
      p {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 0;
        font-family: "Poppins";
      }
    }
    .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      // transform: translate(-20px, -50px);
      img {
        width: 35px;
        filter: invert(1);
        margin-right: 20px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 0;
        font-family: "Poppins";
        letter-spacing: 2px;
      }
    }
    .mail {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      // transform: translate(-20px, -50px);
      img {
        width: 35px;
        filter: invert(1);
        margin-right: 20px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 0;
        font-family: "Poppins";
        letter-spacing: 2px;
      }
    }
  }
  .laptop-box {
    width: 600px;
    height: 550px;
    margin-top: 50px;
    iframe {
      width: 312px;
      height: 194px;
      margin: auto;
      transform: translate(140px, -337px);
    }
  }
}
.details {
  position: relative;
  top: -40px;
  transform: translate(-40px, -20px);
}
.Contact-main {
  h1 {
    position: relative;
    font-weight: bold;
    color: rgb(153, 152, 152);
    margin-top: 30px;
    text-shadow: 1px 1px black;
    margin-bottom: 20px;
    font-size: 2.2em;
    letter-spacing: 0px;
    font-family: "Baloo Da 2", cursive;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: rgb(105, 104, 104);
      z-index: 2;
      border-radius: 12px;
      border: 1px solid rgb(122, 122, 122);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0px;
      width: 60%;
      height: 6px;
      background-color: rgb(153, 151, 151);
      border-radius: 12px;
      z-index: 3;
      transition: all 0.4s ease-out;
      animation: skills 1s linear infinite alternate;
    }
  }
}
.icons {
  position: relative;
  top: -80px;
  filter: invert(1) brightness(60%);
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    width: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: translateX(-14px);
    &:hover {
      // filter: invert(1);
      transform: scale(1.2);
    }
  }
}
@media (max-width: 1305px) {
  .details {
    transform: translateX(0px);
    top: -130px;
  }
  .content-box {
    top: 0 !important;
    transform: translateY(-60px);
    height: 100% !important;
  }
  .icons {
    img {
      transform: translateX(0);
    }
  }
}
@media (max-width: 1023px) {
  .Contact-main {
    left: 0;
    width: 100%;
  }
}
@media (max-width: 656px) {
  // .Contact-main {
  //   // height: 100vh;
  // }
  .content-box {
    height: 600px !important;
    transform: translateY(-20px);
  }
  .laptop-box {
    // margin-top: 0 !important;
    width: 350px !important;
    height: 400px !important;
    min-width: 0 !important;
    // height: 200px !important;
    // display: none;
    overflow: hidden !important;
  }
  iframe {
    width: 229px !important;
    height: 142px !important;
    transform: translate(62px, -281px) !important;
  }
  .details {
    transform: translateY(-130px);
  }
  .laptop {
    top: 0;
    width: 450px;
    overflow: hidden !important;
    transform: translate(-46px, -30px);
  }
  .details {
    top: 0 !important;
    p {
      font-size: 0.8rem !important;
    }
  }
  .details {
    .pin {
      p {
        font-size: 0.8rem !important;
      }
    }
  }
  .pin {
    img {
      width: 25px !important;
      // margin-top: 10px;
      margin-right: 5px;
      transform: translateY(-5px);
    }
  }
  .phone {
    img {
      width: 25px !important;
      margin-top: 3px;
      margin-right: 10px !important;
    }
  }
  .mail {
    img {
      width: 25px !important;
      // margin-top: 10px;
      margin-right: 10px !important;
    }
  }
  .icons {
    top: -100px;
    width: 300px;
    img {
      width: 34px;
      transform: translateX(0);
    }
  }
}
